* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    padding: 20px;
    margin: 200px;
    background-color: #FF4E88;
    border-radius: 5px;
}

p {
    margin: 5px;
    background-color: white;
    height: 30px;
    width: 200px;
    text-align: right;
    border-radius: 3px;
}
button{
    height: 50px;
    width: 50px;
    background-color: #FF8C9E;
    border: none;
    border-radius: 3px;
    color: white;
}