*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(#4A628A, #B9E5E8);
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

button{
    height: 30px;
    width: 70px;
    background-color: #DFF2EB;
    border: none;
    border-radius: 3px;
}

fieldset{
    border-color: white;
}